body {
    background-color: black;
    background-image: url("../images/grunge-bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

#wrapper {
    
}

h1 {
    font-size: 2em;
    text-transform: uppercase;
}

h3 {
    text-transform: uppercase;
}

a img, a:hover img {
    border: none;
}

#heading, #footer .content, #main .content {
    width: 1000px;
    margin: 0 auto;
}

#heading {
    position: relative;
    height: 190px;
}

#heading.compact {
    height: 100px;
}

#logo-link {
    position: absolute;
    top: 20px;
    left: 50px;
}

#banner-img {
    position: absolute;
    top: -80px;
    right: 5px; 
}

#slogan {
    font-family: 'Georgia';
    font-style: italic;
    color: #ccc;
    font-size: 18px;
    position: absolute;
    top: 100px;
    left: 40px;
}

#main .content {
    padding: 2em;
    padding-bottom: 350px;
   
}

#main.light-theme {
    background-color: #f0eeee;
}

#main.light-theme a, #main.light-theme a:hover  {
    color: #000;
}

#main.dark-theme {
    background: none;
    color: #fff;
}

#main.dark-theme a, #main.dark-theme a:hover  {
    color: #fff;
}


#footer {
    color: #ccc;
    border-top: solid 3px #fff;
}

#footer .content {
    position: relative;
    padding: 15px 0; 
}

#footer-decor-img {
    position: absolute;
    top: -348px;
    left: 50px;
}

#footer .content .block1,
#footer .content .block2,
#footer .content .block3 {
    width: 330px;
    float: left;
}


/*******************
  BEGIN: navlist - main navigation
*******************/

#navcontainer {
    position: absolute;
    top: 20px;
    right: 50px;
}

ul#navlist {
    margin-left: 0;
    padding-left: 0;
    white-space: nowrap;
    }

#navlist li {
    display: inline;
    list-style-type: none;
    }

#navlist a { 
    padding: 20px 20px;
    margin: 0 -10px;
    font-size: 1.4em;
    }

#navlist a:link, #navlist a:visited {
    color: #fff;
    text-decoration: none;
    background-image: url("../images/main-nav-item-bg-normal.png");
    background-repeat: no-repeat;
    background-position: center -35px;
    }

#navlist a:hover, #navlist .active a {
    color: #fff;
    background-image: url("../images/main-nav-item-bg.png");
    text-decoration: none;
    }
    
    
/*******************
  END: navlist - main navigation
*******************/

/*******************
  BEGIN: navlist-scnd - secnd navigation
*******************/

#navcontainer-scnd { 
    width: 245px;
}

#navcontainer-scnd ul {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    }

#navcontainer-scnd a {
    display: block;
    padding: 3px;
    width: 230px;
    text-transform: uppercase;
    color: #fff;
    }

#navcontainer-scnd a:link, #navlist-scnd a:visited {
    color: #EEE;
    text-decoration: none;
    }

#navcontainer-scnd a:hover, #navcontainer-scnd .active a {
    color: #f19300;
    }
    
    
/*******************
  END: navlist-scnd - secnd navigation
*******************/

/*******************
  BEGIN:two column layoyt
*******************/

.two-column-layout .column1 {
    width: 250px;
    float: left;
}

.two-column-layout .column2 {
    margin-left: 270px;
    width: 730px;
}

hr.cleaner {
      clear:both;
      height:1px;
      margin: -1px 0 0 0; padding:0;
      border:none;
      visibility: hidden;
      }

/*******************
  END:two column layoyt
*******************/

#navcontainer-scnd h3 {
    border-bottom: solid 1px #ccc;
}

/*******************
  BEGIN:item-container
*******************/

.item-container .item {
    background-color: #000;
    padding: 10px 10px 10px 20px;
    margin: 10px 0;
    position: relative;
}

.item-container .item .action-btns {
    visibility: hidden;
    width: 200px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.item-container .item:hover h3:before {
    content: "›› ";
}

#main.dark-theme .item-container .item a:hover {
    color: #f19300;
}


.item-container .item:hover .action-btns {
    visibility: visible;
}

.item-container .item .action-btn {
    display: block;
}


/*******************
  END:item-container
*******************/

.form-row {
    
}


.form-row label {
    font-style: italic;
    display: block;
    width: 150px;
    float: left;
}

.form-row label:after {
    content: ":";
}

.form-row input, .form-row select {
    
}

.form-row.submit {
    margin: 10px 20px 20px 150px;    
}

.form-row .auth-code-form-input {
    width: 500px;
}